.background{
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-flow:column wrap;
}


.usershow{
    height: 400rpx;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-flow:column wrap;
    text-align: center;
    background-color: #FDFDFD;
    background-image: url('https://cos-1256179601.cos.ap-guangzhou.myqcloud.com/blog/3d5db16670462e5c6ecd5c1e290aa11c.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    overflow: hidden;
    .avatar{
        width: 150rpx;
        height: 150rpx;
        border-radius: 75rpx;
    }
    .name{
        width: 100%;
        font-size: 50rpx;
    }
    .description{
        width: 100%;
        font-size: 30rpx;
    }

}

.settings{
    
}

.feedback{
    
}