.content{
    position: absolute;
    width: 100%;
    height: 93%;
}

.bottombar{
    position: absolute;
    width: 100%;
    height: 7%;
    bottom: 0;
}

.bar{
    height: 100%;
    width: 100%;
}